.form__container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.form__label {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.form__input {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  transition: background-color 500ms ease;
}
.form__input:hover,
.form__input:focus {
  background-color: #efefef;
  box-shadow: none;
}

.form__input:focus {
  outline: none;
}
